{% extends "base.html" %}

{% block content %}
  <h1>Articles</h1>
      
  <div class="articles">
    {% for item in index %}
      <article class="articles__article">
        <h2 class="articles__article_title"><a href="{{ item.path }}" title="{{ item.metadata.title }}">{{ item.metadata.title }}</a></h2>
        <p class="articles__article_intro">{{ item.metadata.intro }}</p>
      </article>
    {% else %}
      <div>
        <p>No content found</p>
      </div>
    {% endfor %}
  </div>

{% endblock %}
