{% extends "base.html" %}

{% block content %}
  <h1>What Is Medal</h1>
  <p>
    Medal is a static blog generator written in Node and ES2015, utilising 
    Markdown, Nunjucks and HighlightJS to build a lightening fast static site that can be
    hosted anywhere.
  </p>

  <h2>Progressively Enhanced</h2>
  <p>
    Medal is designed to produce fast static HTML pages which will work 
    in the browser with or without JavaScript. Luxuries such as filtering and 
    search are progressively added.
  </p>

  <h2>Open For Extension</h2>
  <p>
    Client facing JavaScript can be extended simply by adding a new component and associating it 
    to a DOM element with a jQuery selector.
  </p>

  <h2>Medal Worthy Stats</h2>
  <p>A default production site running Medal delivers the following stats:</p>
  <div class="stat">Production Site Network Requests: X kb</div>
  <div class="stat">Total Download Size: X kb</div>
  <div class="stat">Build Time: X seconds</div>
  <div class="stat">Entire Codebase: X kb</div>
  <p>Some more info</p>

  <h2>Technology</h2
  <p>Information about tech here</p>

  <h2>Example Articles</h2>
  <p>Have a look at some example <a href="/articles.html" title="articles">articles</a></p>

{% endblock %}
