{% extends "base.html" %}

{% block content %}
  <h1>What Is Medal</h1>
  <p>
    Medal is a static blog generator written in Node and ES2015, utilising 
    Markdown, Nunjucks and HighlightJS to build a lightening fast static site that can be
    hosted anywhere.
  </p>

  <h2>Simplicity Over Abstraction</h2>
  <p>
    There are many static site generators out there, most of which are genuinely brilliant, but have been heavily 
    abstracted to allow for swappable template engines, themes and features. Medal uses the tools you (probably) 
    already know in order to deliver an easy to maintain, yet extendible, static site generator.
  </p>

  <h2>Medal Worthy Stats</h2>
  <p>A default production site running Medal delivers the following stats:</p>
  <div class="stat">Production Site Network Requests: X kb</div>
  <div class="stat">Total Download Size: X kb</div>
  <div class="stat">Build Time: X seconds</div>
  <div class="stat">Entire Codebase: X kb</div>
  <p>Some more info</p>

  <h2>Technology</h2
  <p>Information about tech here</p>

  <h2>Example Articles</h2>
  <p>Have a look at some example <a href="/articles.html" title="articles">articles</a></p>

{% endblock %}
