{% extends "article.html" %}{% block article %}<h1 id="commercial-awareness-in-software-engineering">Commercial Awareness in Software Engineering</h1>
<p>For many good software engineers creating solutions isn&#39;t a job, it&#39;s an art. A chance to craft something that doesn&#39;t just provide a function, but that aspires to be technically flawless, elegantly written and beautiful to work on.</p>
<blockquote>
<p>many of us practiced our passion long before it was our profession</p>
</blockquote>
<p>Writing software is what we were born to do, many of us practiced our passion long before it was our profession, and we admire those who pushed boundaries, defined standards and influenced the industry.</p>
<p>There&#39;s a problem though. Great art takes time, consideration and occasionally the need to rip up the canvas and start again. Unfortunately these are luxuries that software engineers very rarely have. When we start a project we have to finish it, even if half way through we fall a little out of love with our creation.</p>
<p>Not everything we produce will be that masterpiece we were hoping for. We might have realised there was a better approach, there could have been some unhandled edge cases and there were definitely some commits we weren&#39;t proud of.</p>
<h2 id="perfection-is-not-a-requirement">Perfection Is Not A Requirement</h2>
<p>In an industry as fast paced as ours it&#39;s simply not possible to create perfection. And even if we do, we all know it will look archaic in a year or so anyway.</p>
<blockquote>
<p>the value of what we create is not in the elegance of it&#39;s design, but in the features and benefits it provides</p>
</blockquote>
<p>Our job isn&#39;t to provide something that makes us feel good at the time, but instead to deliver a viable product in line with clearly identified requirements. In the vast majority of cases the value of what we create is not in the elegance of it&#39;s design, but in the features and benefits it provides to the end user.</p>
<p>So with this in mind we must be prepared to compromise.</p>
<p>We can still build amazing things and push boundaries. We can still produce <em>mostly</em> beautiful code using established design patterns and ensure that we have good and relevant test coverage.</p>
<p>But we have to work within our means, within the time and budget we are given. There may be one or two methods in our classes that require extra comments. There may be a small amount of duplication because of that refactor we didn&#39;t get to do. There might even be a missing test for an edge case we didn&#39;t think about.</p>
<p>We have to keep in mind though that these issues, while important to us, are often completely irrelevant to the majority of stakeholders.</p>
<p>I&#39;m not saying we shouldn&#39;t aspire to create brilliantly designed and maintainable software, of course we should. But we also need to consider the prioritisation of the key stakeholders.</p>
<h2 id="making-the-right-compromises">Making The Right Compromises</h2>
<p>It&#39;s about achieving the right balance; knowing where to draw the line on standards below which a product must not cross, but at the same time be willing to accept that the small compromises are a necessity.</p>
<blockquote>
<p>the ability for us to adjust to new environments is just as important as the code we write</p>
</blockquote>
<p>The precise balance we need to achieve is not a constant, it will vary between projects depending on stakeholder priorities. Therefore the ability for us to adjust to each new environment is just as important as the code we write.</p>
<p>What we do isn&#39;t easy, we should be proud of the work we produce and not worry about any minor imperfections that occur as a result. At 
the same time, if we feel the red line is being crossed then we should voice our concerns. There will always be some compromises that should never be made.</p>
<p>It&#39;s a balancing act for sure but a necessary one that we should accept, or even embrace, as part of our role in the industry.</p>
{% endblock %}